
* {
    height: min(800px, 100vh);
    margin: auto;
}

#wrap {
    display: flex;
    align-content: center;
}

header {
    display: flex;
    justify-content: left;
    width: 40vw;
    
}

#background {
    display: flex;
    align-self: center;
    width: 40vw;
    z-index: -1;
    position: relative;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 40vw;
    background-color: black;
    opacity: 0.6;
    height: 10vh;
    position: absolute;
    top: 30%;
}

#logo {
    display: flex;
    height: 10vh;
    background-color: black;
    justify-content: center;
    margin: 2px;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "MedievalSharp";
    height: max-content;
    margin: 2px;
    align-self: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

p {
    display: flex;
    height: fit-content;
}

#forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.form-row {
    display: flex;
    height: fit-content;
    margin: 2px;
    gap: 5px;
}

form {
    height: fit-content;
    padding: 5px;
    margin: 2px;
}

input {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 20px;
    width: fit-content;
    padding: 5px;
    margin: 2px;
}

label {
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: 20px;
}

